{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <h3>
        Transactions

        <a class="btn btn-primary" href="{{ path('UMRA_Trans_new') }}">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
    </h3>

    <form method="get" action="{{ path('UMRA_Trans') }}">
        {{ form_rest(form) }}
        <button type="submit" name="submit-filter" value="filter" class="btn btn-primary btn-lg">
            <span class="fa fa-search"></span>
            Search
        </button>
        <a href="{{ path('UMRA_Trans') }}" class="btn btn-default btn-lg">
            <span class="fa fa-undo"></span>
            Reset
        </a>
    </form>

    <hr />

    <div class="panel panel-default">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                    <th>Reconciled by</th>
                    <th>Processor Transaction ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('UMRA_Trans_show', { 'id': entity.id }) }}">
                            {{ entity.trandate|date('Y-m-d') }}
                        </a>
                    </td>
                    <td>
                    {% if entity.trantype == 'MEMBERSHIP_NEW' %}
                        New Member
                    {% elseif entity.trantype == 'MEMBERSHIP_RENEW' %}
                        Renewal
                    {% elseif entity.trantype == 'LUNCHEON_FEE' %}
                        Luncheon Fee
                    {% else %}
                        {{ entity.trantype }}
                    {% endif %}
                    </td>
                    <td>${{ entity.amount + entity.servicechg }}</td>
                    <td>
                    {% if entity.pmtmethod == 'CREDIT_CARD' %}
                        <span class="fa fa-credit-card"></span> Credit Card
                    {% elseif entity.pmtmethod == 'CHECK' %}
                        <span class="fa fa-bank"></span> Check
                    {% else %}
                        <span class="fa fa-money"></span> Other
                    {% endif %}
                    </td>
                    <td class="row-status" data-trans-id="{{ entity.id }}">
                    {% if entity.status == "PROCESSING" %}
                        <span class="label label-danger">
                            PROCESSING
                        </span>
                    {% elseif entity.status == "PROCESSED" %}
                        <span class="label label-success">
                            PROCESSED
                        </span>
                    {% else %}
                        <span class="label label-warning">
                            AWAITING PROCESS
                        </span>
                    {% endif %}
                    </td>
                    <td>
                    {% if entity.doneby %}
                        {{ entity.doneby.fullname }}
                    {% endif %}
                    </td>
                    <td>{{ entity.procTranId }}</td>
                    <td>
                        <ul class="list-inline">
                            {% if not entity.doneBy %}
                            <li>
                                <button type="button" class="btn btn-sm btn-success js-mark-reconciled" data-trans-id="{{ entity.id }}">
                                    <span class="fa fa-check"></span>
                                Mark as Reconciled
                                </button>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('UMRA_Trans_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-default">
                                    <span class="fa fa-pencil"></span>
                                    Edit
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(".js-mark-reconciled").click(function () {
        var $reconcileButton = $(this);
        $reconcileButton.attr('disabled', true);
        $reconcileButton.children('.fa').removeClass('fa-check').addClass('fa-spin fa-spinner');
        var id = $reconcileButton.data('transId');

        $.ajax("{{ path('UMRA_Trans_reconcile') }}", {
            type: 'PUT',
            data: { id: id }
        }).success(function (response) {
            var successHtml =
                '<span class="text-success">' +
                    '<span class="fa fa-check"></span> ' +
                    'Reconciled!' +
                '</span>';

            $reconcileButton.replaceWith(successHtml);

            $('.row-status[data-trans-id='+id+']')
                .children('.label')
                .removeClass('label-danger')
                .removeClass('label-warning')
                .addClass('label-success')
                .text('PROCESSED');
        }).error(function (data) {
            $reconcileButton.children('.fa').removeClass('fa-spin fa-spinner').addClass('fa-check');
            $reconcileButton.attr('disabled', false);
        });
    });
</script>
{% endblock %}
