{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <h1>Trans</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Trandate</th>
                <td>{{ entity.trandate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Trantype</th>
                <td>{{ entity.trantype }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ entity.amount }}</td>
            </tr>
            <tr>
                <th>Pmtmethod</th>
                <td>{{ entity.pmtmethod }}</td>
            </tr>
            <tr>
                <th>Servicechg</th>
                <td>{{ entity.servicechg }}</td>
            </tr>
            <tr>
                <th>Doneby</th>
                <td>{{ entity.doneby }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ entity.notes }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('UMRA_Trans') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('UMRA_Trans_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
