{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Transaction Date</th>
                <td>{{ entity.trandate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Transaction Type</th>
                <td>{{ entity.trantype }}</td>
            </tr>
            <tr>
                <th>Amount ($)</th>
                <td>{{ entity.amount }}</td>
            </tr>
            <tr>
                <th>Payment Method</th>
                <td>{{ entity.pmtmethod }}</td>
            </tr>
            <tr>
                <th>Service Charge</th>
                <td>{{ entity.servicechg }}</td>
            </tr>
            <tr>
                <th>Reconciled by</th>
                <td>{{ entity.doneby }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ entity.notes }}</td>
            </tr>
            <tr>
                <th>
                    PayPal Transaction ID
                </th>
                <td>{{ entity.proctranid }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('UMRA_Trans') }}" class="btn btn-default">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('UMRA_Trans_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
