{% extends '::base.html.twig' %}

{% block title %}{{ entity.postalname }}{% endblock %}

{% block body %}
<h4>{{ entity.postalname }}</h4>

<div id="page-content-container">
	<div class="row">
		<div class="col-xs-12">
		{{ form_start(form) }}
			{{ form_widget(form._token) }}

			{% include 'UMRAMemberBundle:Person:_form_full.html.twig' with {
				'members': form.persons,
				'allow_add': true,
				'allow_delete': true
			} %}
			{% include 'UMRAMemberBundle:Residence:_form_full.html.twig' with {
				'residences': form.residences,
				'allow_add': true,
				'allow_delete': true
			} %}

			<a class="btn btn-default" href="{{ referrer ? referrer : path('UMRA_Household') }}">
				Back to list
			</a>
			{{ form_widget(form.submit) }}
		{{ form_end(form, {'render_rest': false}) }}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{% include 'UMRAMemberBundle:Person:_form_prototype.html.twig' with { 'persons': form.persons } %}
{% include 'UMRAMemberBundle:Residence:_form_prototype.html.twig' with { 'residences': form.residences } %}
<script type="text/javascript" src="{{ asset('js/umramember.jquery.personcollection.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/umramember.jquery.residencecollection.js') }}"></script>
{% endblock %}
