{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <div class="page-header">
        <h2>Household of {{ entity.firstname }} {{ entity.lastname }}</h2>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Last Name</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Postal Name</th>
                <td>{{ entity.postalname }}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>


    <div class="panel panel-primary">
        <header class="panel-heading">Members</header>
        <table class="table">
            <thead>
                <th>Full Name</th>
                <th>Member Since</th>
                <th>Email Addresses</th>
            </thead>
            <tbody>
                {% for person in entity.persons %}
                <tr>
                    <td><a href="{{ url('UMRA_Person_show', { id: person.id }) }}">{{ person.fullname }}</a></td>
                    <td>{{ person.membersince | date("m/d/Y") }}</td>
                    <td>
                        <ul>
                            {% for email in person.emails %}
                                <li>{{ email.email }}</li>
                            {% endfor %}
                            <li><a href="{{ path('UMRA_Email_new', { 'personId': person.id }) }}"><small><span class="glyphicon glyphicon-plus"></span> Add</a></small></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <footer class="panel-footer">
            <a class="btn btn-primary" href="{{ path('UMRA_Person_new') }}"><span class="glyphicon glyphicon-plus"></span> Add Another Person</a>
        </footer>
    </div>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('UMRA_Household') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('UMRA_Household_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
