{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <div class="page-header">
        <h2>Household of {{ entity.firstname }} {{ entity.lastname }}</h2>
        <h4 class="text-muted">Postal Name: <small>{{ entity.postalname }}</small></h4>
    </div>

    {% include 'UMRAMemberBundle:Household:detail.html.twig' %}

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('UMRA_Household') }}">
                Back to Member List
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('UMRA_Household_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
