<script id="tpl-residence-group" type="text/ng-template">
    <div class="list-group-item">
        <h5>
          Residence __num__
          <button class="btn-residence-del close pull-right" type="button" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </h5>
        <div class="form-group">
            {{ form_label(residences.vars.prototype.address1) }}
            {{ form_widget(residences.vars.prototype.address1) }}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.address2) }}
                    {{ form_widget(residences.vars.prototype.address2) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.address3) }}
                    {{ form_widget(residences.vars.prototype.address3) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.city)}}
                    {{ form_widget(residences.vars.prototype.city)}}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.state) }}
                    {{ form_widget(residences.vars.prototype.state) }}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.zip) }}
                    {{ form_widget(residences.vars.prototype.zip) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.legdistrict) }}
                    {{ form_widget(residences.vars.prototype.legdistrict) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.country) }}
                    {{ form_widget(residences.vars.prototype.country) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.primary) }}
                    {{ form_widget(residences.vars.prototype.primary) }}
                </div>
            </div>
            <div class="col-xs-11 col-sm-5">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.forseason) }}
                    {{ form_widget(residences.vars.prototype.forseason) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_label(residences.vars.prototype.since) }}
                    {{ form_widget(residences.vars.prototype.since) }}
                </div>
            </div>
        </div>
    </div>
</script>
