{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <address>
        <strong>{{ entity.household.postalname }}</strong><br />
        {{ entity.address1 }}<br />
        {% if entity.address2 %}
            {{ entity.address2 }}<br />
        {% endif %}
        {% if entity.address3 %}
            {{ entity.address3 }}<br />
        {% endif %}
        {{ entity.city }}{% if entity.state %}, {{ entity.state }}{% endif %} {{ entity.zip }}<br />
        {{ entity.country }}
    </address>

    <table class="table">
        <tbody>
            <tr>
                <th>Primary</th>
                <td>{% if entity.primary %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Legislative District</th>
                <td>{{ entity.legdistrict }}</td>
            </tr>
            <tr>
                <th>Since</th>
                <td>{{ entity.since is empty ? "" : entity.since|date('m/d/Y') }}</td>
            </tr>
            <tr>
                <th>Season(s)</th>
                <td>{{ entity.forseason }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('UMRA_Household_show', { 'id': entity.household.id }) }}">
                Back to the household
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('UMRA_Residence_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
