{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.luncheonDate|date('F Y') }} Luncheon</h1>
    <h4>{{ attendees|length }} Registered Online</h4>

    <div class="panel panel-default">
        <table class="table">
            <thead>
            <tr>
                <th>Full Name</th>
                <th>Name Tag</th>
                <th>Date Registered</th>
                <th>Payment Received</th>
            </tr>
            </thead>
            <tbody>
            {% for attendee in attendees %}
                <tr>
                    <td>{{ attendee.fullname }}</td>
                    <td>{{ attendee.nametag }}</td>
                    <td>
                        {{ attendee.date }}
                    </td>
                    <td>
                        {% if attendee.paid %}
                            <span class="label label-success">
                        Yes
                    </span>
                        {% else %}
                            <span class="label label-danger">
                        No
                    </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a class="btn btn-default" href="{{ path('UMRA_Luncheon_show', { id: entity.id,  _format: 'csv' }) }}">
                <span class="fa fa-save"></span> Export as CSV
            </a>
        </div>
        <div class="btn-group">
            <a href="{{ path('UMRA_Luncheon') }}" class="btn btn-default">
                Back to Luncheons
            </a>
        </div>
    </div>
{% endblock %}
