{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.luncheonDate|date('F Y') }} Luncheon</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name Tag Name</th>
                <th>Date Registered</th>
                <th>Payment Received</th>
            </tr>
        </thead>
        <tbody>
            {% for attendee in attendees %}
            <tr>
                <td>{{ attendee.name }}</td>
                <td>
                    {{ attendee.transaction.trandate|date('m/d/Y') }}
                </td>
                <td>
                    {% if attendee.transaction %}
                    <a href="{{ path('UMRA_Trans_show', { id: attendee.transaction.id}) }}">
                        {% if attendee.transaction.status == "PROCESSED" %}
                        <span class="label label-success">
                            Yes
                        </span>
                        {% else %}
                        <span class="label label-danger">
                            No
                        </span>
                        {% endif %}
                    </a>
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('UMRA_Luncheon') }}" class="btn btn-default">
                Back to Luncheons
            </a>
        </li>
    </ul>
{% endblock %}
