{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <h1>Photo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Datetaken</th>
                <th>Dateadded</th>
                <th>Caption</th>
                <th>Content</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('UMRA_Photo_show', { 'id': entity.id }) }}">{{ entity.datetaken|date('Y-m-d H:i:s') }}</a></td>
                <td>{% if entity.dateadded %}{{ entity.dateadded|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.caption }}</td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('UMRA_Photo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('UMRA_Photo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('UMRA_Photo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
