<h4 class="text-muted">
    Member(s)
</h4>
<div class="panel panel-default">
    <div class="list-group" id="members-list-group">
        {% for member in members %}
        <div class="list-group-item" ng-init="household.members[{{loop.index0}}] = {
            firstname: '{{ member.firstname.vars.value }}',
            lastname: '{{ member.lastname.vars.value }}',
            fullname: '{{ member.fullname.vars.value }}',
            nickname: '{{ member.nickname.vars.value }}',
            nametagname: '{{ member.nametagname.vars.value }}'
        }">
            <h4>
                <span class="label label-info">Person {{ loop.index }}</span>
            </h4>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(member.firstname, { attr: {'ng-model': 'household.members[' ~ loop.index0 ~ '].firstname' }}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(member.lastname, { attr: { 'ng-model': 'household.members[' ~ loop.index0 ~ '].lastname' }}) }}
                </div>
            </div>
            {{ form_row(member.fullname, { attr: { 'ng-model': 'household.members[' ~ loop.index0 ~ '].fullname' }}) }}
            {{ form_row(member.nametagname, { attr: { 'ng-model': 'household.members[' ~ loop.index0 ~ '].nametagname' }}) }}
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(member.nickname, { attr: {'ng-model': 'household.members[' ~ loop.index0 ~ '].nickname' }}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(member.membersince, { attr: {'ng-model': 'household.members[' ~ loop.index0 ~ '].membersince' }}) }}
                </div>
            </div>
            {{ form_row(member.weburl) }}
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(member.newsPref) }}
                </div>
                {% if member.emailCanonical is defined %}
                <div class="col-sm-4">
                    {{ form_row(member.emailCanonical) }}
                </div>
                {% endif %}
                {% if member.activenow is defined %}
                <div class="col-sm-3">
                    {{ form_row(member.activenow) }}
                </div>
                {% endif %}
                {% if member.deceasedate is defined %}
                <div class="col-sm-5">
                    {{ form_row(member.deceasedate) }}
                </div>
                {% endif %}
            </div>
            <p class="text-muted">
                The following fields are for University Retirees only.
            </p>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(member.secondary) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(member.ustartdate) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(member.uretiredate) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(member.utopunit) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(member.udeptequiv) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(member.utitle) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(member.uempltype) }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if allow_add is defined and allow_add %}
    <div class="panel-footer">
        <button id="person-add" type="button" class="btn btn-primary" collection-add="#tpl-members-group">
            <span class="fa fa-plus"></span> Another Person
        </button>
    </div>
    {% endif %}
</div>