{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <div class="page-header">
        <h1>Editing <strong>{{ entity.firstname }} {{ entity.lastname }}</strong></h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form(edit_form) }}
        </div>
    </div>

    <ul class="list-inline">
        {% if app.user.id == entity.id %}
            <li>
                <a class="btn btn-default" href="{{ path('UMRA_Landing') }}">
                    Back
                </a>
            </li>
        {% else %}
            <li>
                <a class="btn btn-default" href="{{ path('UMRA_Household_show', { 'id': entity.household.id }) }}">
                    Back to household
                </a>
            </li>
            {% if is_granted('ROLE_CAN_EDIT_OTHER_PERSON') %}
                <li>{{ form(delete_form) }}</li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}
