{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <h1>{{ entity.firstname }} {{ entity.lastname }}</h1>

    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <th>Full Name</th>
                <td>{{ entity.fullname }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ entity.nickname }}</td>
            </tr>
            <tr>
                <th>Name Tag Name</th>
                <td>{{ entity.nametagname }}</td>
            </tr>
            <tr>
                <th>Postal Name</th>
                <td>{{ entity.postalname }}</td>
            </tr>
            <tr>
                <th>Member Since</th>
                <td>{{ entity.membersince|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>University Unit</th>
                <td>{{ entity.utopunit }}</td>
            </tr>
            <tr>
                <th>University Department</th>
                <td>{{ entity.udeptequiv }}</td>
            </tr>
            <tr>
                <th>Employment Type</th>
                <td>{{ entity.uempltype }}</td>
            </tr>
            <tr>
                <th>University Title</th>
                <td>{{ entity.utitle }}</td>
            </tr>
            <tr>
                <th>University Start Date</th>
                <td>{{ entity.ustartdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>University Retire Date</th>
                <td>{{ entity.uretiredate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Join Date</th>
                <td>{{ entity.joindate|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% if entity.deceasedate %}
            <tr>
                <th>Date Deceased</th>
                <td>{{ entity.deceasedate|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Active?</th>
                <td>
                    {% if entity.activenow %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Postalnews</th>
                <td>{{ entity.postalnews }}</td>
            </tr>
            <tr>
                <th>Web URL</th>
                <td>{{ entity.weburl }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('UMRA_Household_show', { id: entity.household.id }) }}">
                Back to household
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('UMRA_Person_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
