{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ entity.fullName }}</td>
            </tr>
            <tr>
                <th>Mailname</th>
                <td>{{ entity.mailName }}</td>
            </tr>
            <tr>
                <th>Labelname</th>
                <td>{{ entity.labelName }}</td>
            </tr>
            <tr>
                <th>Ssofullname</th>
                <td>{{ entity.sSOFullName }}</td>
            </tr>
            <tr>
                <th>Membersince</th>
                <td>{{ entity.memberSince|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Utopunit</th>
                <td>{{ entity.utopUnit }}</td>
            </tr>
            <tr>
                <th>Udeptequiv</th>
                <td>{{ entity.uDeptEquiv }}</td>
            </tr>
            <tr>
                <th>Uempltype</th>
                <td>{{ entity.uEmplType }}</td>
            </tr>
            <tr>
                <th>Utitle</th>
                <td>{{ entity.uTitle }}</td>
            </tr>
            <tr>
                <th>Ustartdate</th>
                <td>{{ entity.uStartDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Uretiredate</th>
                <td>{{ entity.uRetireDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Joindate</th>
                <td>{{ entity.joinDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Deceaseddate</th>
                <td>{{ entity.deceasedDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Mailnewsletter</th>
                <td>{{ entity.mailNewsLetter }}</td>
            </tr>
            <tr>
                <th>Webpage</th>
                <td>{{ entity.webPage }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th>Partnerpersonid</th>
                <td>{{ entity.partnerPersonID }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('member_person') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('member_person_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
