{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-user"></span>
                    For Members
                </h3>
            </div>
            <div class="panel-body">
                <div class="row row-with-spacing">
                    <div class="col-sm-4">
                        <a href="{{ path("UMRA_My_Household") }}"
                            class="btn btn-default btn-lg btn-block">
                            <span class="fa fa-edit"></span><br />
                            Update<br/>
                            Your Record
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('fos_user_change_password') }}"
                           class="btn btn-default btn-lg btn-block">
                            <span class="fa fa-lock"></span><br />
                            Change<br/>
                            Your Password
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('UMRA_Luncheon_register') }}"
                           class="btn btn-default btn-lg btn-block">
                            <span class="fa fa-cutlery"></span><br/>
                            Make a Luncheon<br/>
                            Reservation
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ path('UMRA_renew') }}"
                           class="btn btn-default btn-lg btn-block">
                            <span class="fa fa-refresh"></span><br />
                            Renew<br/>
                            Your Membership
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not app.user %}
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-check-square"></span>
                        Become a Member
                    </h3>
                </div>
                <div class="panel-body">
                    <a href="{{ path('UMRA_register') }}"
                       class="btn btn-block btn-lg btn-primary">
                        <span class="fa fa-hand-o-right"></span>
                        Join Today!
                    </a>

                    <hr />

                    <strong>Note to Members Who Registered before [Date of Launch]:</strong>
                    <p>
                        If you were a member prior to [Date of Launch] and you had an email on file with
                        UMRA, you have an account already! Click the button below to have a password
                        reset sent to you. You will have received an email from UMRA with a link
                        to set a password to login.
                    </p>

                    <a href="{{ path('fos_user_resetting_request') }}"
                       class="btn btn-block btn-default">
                        <span class="fa fa-repeat"></span>
                        Reset Your Password
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome Back!</h3>
                </div>
                <div class="panel-body">
                    {% include 'UMRAMemberBundle:Person:detail.html.twig'
                        with {
                            'entity': app.user
                        }
                    %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% if is_granted("ROLE_ADMIN") %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="fa fa-gear"></span>
                UMRA Administration
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {% if is_granted('ROLE_CAN_EDIT_OTHER_HOUSEHOLD') %}
                    <div class="col-sm-3">
                        <a href="{{ path('UMRA_Household') }}"
                            class="btn btn-lg btn-block btn-default">
                            <span class="fa fa-users"></span><br/>
                            Manage<br/>Members
                        </a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_CAN_EDIT_LUNCHEON') %}
                    <div class="col-sm-3">
                        <a href="{{ path('UMRA_Luncheon') }}"
                           class="btn btn-lg btn-block btn-default">
                            <span class="fa fa-cutlery"></span><br />
                            Manage<br/>Luncheons
                        </a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_CAN_EDIT_OTHER_TRANSACTION') %}
                    <div class="col-sm-3">
                        <a href="{{ path('UMRA_Trans') }}"
                           class="btn btn-lg btn-block btn-default">
                            <span class="fa fa-money"></span><br />
                            Manage<br/>Transactions
                        </a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-sm-3">
                        <a href="{{ path('UMRA_ContentBlock') }}"
                           class="btn btn-lg btn-block btn-default">
                            <span class="fa fa-paragraph"></span><br />
                            Manage<br/>
                            Content Blocks
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
