{% extends '::base.html.twig' %}

{% block title %}UMRA Membership Registration{% endblock %}

{% block body %}
<div class="page-header">
	<h2>Membership Application</h2>
</div>

<div id="page-content-container" ng-controller="RegistrationCtrl">
	<div class="row">
		<div class="col-sm-8">
		{{ form_start(form, { action: path('UMRA_register') }) }}
			{{ form_errors(form) }}

			{% if form.household %}
			{{ form_widget(form.household.firstname, { type: 'hidden', attr: {
				'ng-value': 'household.members[0].firstname'}
				})
			}}
			{{ form_widget(form.household.lastname, { type: 'hidden', attr: {
				'ng-value': 'household.members[0].lastname'}
				})
			}}
			{% endif %}

			{% if form.members %}
			{% include 'UMRAMemberBundle:Person:_form_full.html.twig' with {
				'members': form.members,
				'allow_add': true,
				'allow_delete': true
			} %}
			{% endif %}

			{% if form.residences %}
			{{ form_row(form.household.postalname, { attr: { 'ng-model': 'household.postalname' }}) }}
			{% include 'UMRAMemberBundle:Residence:_form_full.html.twig' with {
				'residences': form.residences,
				'allow_add': true,
				'allow_delete': true
			} %}
			{% endif %}

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label">Membership Fees</label>
						<div>
							{# Corresponds to membershipType field in RegistrationFormType with the addition of ng-model & ng-if attributes that were not possible through the Twig generated HTML elements. #}
							{% do form.membershipType.setRendered %}
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[membershipType]" ng-model="costs.member" value="10" /> Single ($10)
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[membershipType]" ng-model="costs.member" value="15" /> Couple ($15)
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Pre-purchase First 7 Luncheons</label>
						<div>
							{% do form.luncheonPreorder.setRendered %}
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[luncheonPreorder]"
										ng-model="types.luncheon" ng-change="costs.luncheon = 0"
										value="none" selected="selected" /> Do not pre-purchase
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[luncheonPreorder]"
										ng-model="types.luncheon" ng-change="costs.luncheon = 112"
										value="single" /> Single ($112)
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[luncheonPreorder]"
										ng-model="types.luncheon" ng-change="costs.luncheon = 224"
										value="couple" /> Couple ($224)
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Please send me free discount parking coupons with my membership card</label>
						<div>
							{% do form.parkingCoupon.setRendered %}
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[parkingCoupon]" ng-model="counts.parkingCoupons" value="0" /> 0
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[parkingCoupon]" ng-model="counts.parkingCoupons" value="1" /> 1
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[parkingCoupon]" ng-model="counts.parkingCoupons" value="3" /> 3
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[parkingCoupon]" ng-model="counts.parkingCoupons" value="6" /> 6
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[parkingCoupon]" ng-model="counts.parkingCoupons" value="9" /> 9
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">
							Total Amount Payable
						</label>
						<div class="row">
							<div class="col-xs-4 col-sm-3">
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control" readonly="readonly" ng-value="getTotalCost()" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					{{ form_widget(form.payCreditCard) }}
					{{ form_widget(form.payCheck) }}
				</div>
			</div>
			{{ form_widget(form._token) }}
		{{ form_end(form, {'render_rest': false}) }}
		</div>
		<div class="col-sm-4">
			{{ umra_content('registration.instructions') }}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{% if form.members %}
		{% include 'UMRAMemberBundle:Person:_form_prototype.html.twig' with { 'persons': form.members } %}
		<script type="text/javascript" src="{{ asset('js/umramember.jquery.personcollection.js') }}"></script>
	{% endif %}

	{% if form.residences %}
		{% include 'UMRAMemberBundle:Residence:_form_prototype.html.twig' with { 'residences': form.residences } %}
		<script type="text/javascript" src="{{ asset('js/umramember.jquery.residencecollection.js') }}"></script>
	{% endif %}
{% endblock %}
