{% extends '::base.html.twig' %}

{% block title %}UMRA Membership Registration{% endblock %}

{% block body %}
<div id="page-content-container" ng-controller="RegistrationCtrl">
	<div class="row">
		<div class="col-sm-8">
		{{ form_start(form, { action: path('UMRA_register') }) }}
			{{ form_widget(form.household.firstname, { type: 'hidden', attr: {
				'ng-value': 'household.members[0].firstname'}
				})
			}}
			{{ form_widget(form.household.lastname, { type: 'hidden', attr: {
				'ng-value': 'household.members[0].lastname'}
				})
			}}
			{% include 'UMRAMemberBundle:Person:_form_full.html.twig' with {
				'members': form.members,
				'allow_add': true,
				'allow_delete': true
			} %}
			{{ form_row(form.household.postalname, { attr: { 'ng-model': 'household.postalname' }}) }}
			{% include 'UMRAMemberBundle:Residence:_form_full.html.twig' with {
				'residences': form.residences,
				'allow_add': true,
				'allow_delete': true
			} %}

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label">Membership Status</label>
						<div>
							{# Corresponds to membershipStatus field in RegistrationFormType with the addition of ng-model attributes that were not getting output in the correct places through Twig generated HTML elements. #}
							{% do form.membershipStatus.setRendered %}
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[membershipStatus]" ng-model="memberStatus" value="new" /> New Member
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[membershipStatus]" ng-model="memberStatus" value="renew" /> Renewing Member
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Membership Type</label>
						<div>
							{# Corresponds to membershipType field in RegistrationFormType with the addition of ng-model & ng-if attributes that were not possible through the Twig generated HTML elements. #}
							{% do form.membershipType.setRendered %}
							<div class="radio-inline" ng-if="memberStatus === 'new'">
								<label>
									<input type="radio" name="register[membershipType]" ng-model="costs.member" value="10" /> Single ($10)
								</label>
							</div>
							<div class="radio-inline" ng-if="memberStatus === 'new'">
								<label>
									<input type="radio" name="register[membershipType]" ng-model="costs.member" value="15" /> Couple ($15)
								</label>
							</div>
							<div class="radio-inline" ng-if="memberStatus === 'renew'">
								<label>
									<input type="radio" name="register[membershipType]" ng-model="costs.member" value="25" /> Single ($25)
								</label>
							</div>
							<div class="radio-inline" ng-if="memberStatus === 'renew'">
								<label>
									<input type="radio" name="register[membershipType]" ng-model="costs.member" value="35" /> Couple ($35)
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Pre-purchase First 7 Luncheons</label>
						<div>
							{% do form.luncheonPreorder.setRendered %}
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[luncheonPreorder]" ng-model="costs.luncheon" value="112" /> Single ($112)
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[luncheonPreorder]" ng-model="costs.luncheon" value="224" /> Couple ($224)
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[luncheonPreorder]" ng-model="costs.luncheon" value="0" /> Do not pre-purchase
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Please send me discount parking coupons with my membership card</label>
						<div>
							{% do form.parkingCoupon.setRendered %}
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[parkingCoupon]" ng-model="counts.parkingCoupons" value="1" /> 1
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[parkingCoupon]" ng-model="counts.parkingCoupons" value="3" /> 3
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[parkingCoupon]" ng-model="counts.parkingCoupons" value="6" /> 6
								</label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="register[parkingCoupon]" ng-model="counts.parkingCoupons" value="9" /> 9
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">
							Total Amount Payable
						</label>
						<div class="row">
							<div class="col-xs-4 col-sm-3">
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" ng-model="costs.total" class="form-control" readonly="readonly" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					{{ form_widget(form.payCreditCard) }}
					{{ form_widget(form.payCheck) }}
				</div>
			</div>
			{{ form_widget(form._token) }}
		{{ form_end(form, {'render_rest': false}) }}
		</div>
		<div class="col-sm-4">
			<h4 class="text-muted">Instructions</h4>
			<ul>
				<li>Please fill out forms as completely as you can.</li>
				<li>You may optionally pay in advance for the first seven luncheons with your renewal. No refunds are available; a missed luncheon will be considered a donation to UMRA.</li>
				<li>To pay by check, complete all of this form, then select "pay by check" to print the completed form and mail it in to UMRA with your check.</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{% include 'UMRAMemberBundle:Person:_form_prototype.html.twig' with { 'persons': form.members } %}
{% include 'UMRAMemberBundle:Residence:_form_prototype.html.twig' with { 'residences': form.residences } %}
<script type="text/javascript" src="{{ asset('js/umramember.jquery.personcollection.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/umramember.jquery.residencecollection.js') }}"></script>
{% endblock %}
