{% if renewal_eligible %}
{{ form_start(form, { action: path('UMRA_renew') }) }}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Renewal</h3>
	</div>
	<div class="panel-body">
		{{ form_errors(form) }}

		<div class="form-group">
			<label class="control-label">Membership Type</label>
			<div>
				{% do form.membershipType.setRendered %}
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[membershipType]" value="20" /> Single ($20)
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[membershipType]" value="25" /> Couple ($25)
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Pre-purchase First 7 Luncheons</label>
			<div>
				{% do form.luncheonPreorder.setRendered %}
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[luncheonPreorder]" value="single" /> Single ($112)
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[luncheonPreorder]" value="couple" /> Couple ($224)
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[luncheonPreorder]" value="none" /> Do not pre-purchase
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Please send me discount parking coupons with my membership card</label>
			<div>
				{% do form.parkingCoupon.setRendered %}
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[parkingCoupon]" value="0" /> 0
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[parkingCoupon]" value="1" /> 1
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[parkingCoupon]" value="3" /> 3
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[parkingCoupon]" value="6" /> 6
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="renewal[parkingCoupon]" value="9" /> 9
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		{{ form_widget(form.payCreditCard) }}
		{{ form_widget(form.payCheck) }}
	</div>
</div>
{{ form_end(form) }}
{% elseif last_renewal_date != null %}
<h4>Your membership is current.</h4>
<p>Last Renewed on {{ last_renewal_date|date('M jS, Y') }}.</p>
<p>Membership renewal opens up in July.</p>
{% else %}
<h4>You cannot renew!</h4>
<p>
	Our records indicate that you have not had an active membership in the
	past. Therefore, there is no membership to renew.
</p>
<a class="btn btn-lg btn-primary" href="{{ path('UMRA_register') }}">
	Click Here to Register
</a>
{% endif %}
